@{
    ViewBag.Title = "About";
}

<button id="upload-button">Select PDF</button>
<input type="file" id="file-to-upload" accept="application/pdf" />
<div id="controlpdf" style="text-align: center;visibility: hidden;">
	<button id="prevbutton" type="button">prev page</button>
	<button id="nextbutton" type="button">next page</button>
	<!--<button id="zoominbutton" type="button">zoom in</button>
	<button id="zoomoutbutton" type="button">zoom out</button>-->
	<button id="cmd">Save PDF</button>
</div>
<div style="text-align: center;visibility: hidden;margin-top:10px;" id="page-count-container">
	Page 
	<div id="pdf-current-page"></div> 
	of 
	<div id="pdf-total-pages"></div>
</div>
<div class="colorButtons" style="text-align: center;margin-top: 17px;margin-bottom: 10px;font-weight: bolder;">
  <h3>Colour</h3>

  <input type="color" id="colorpicker" value="#000" class="colorpicker">

</div>
<div id="buttonTool" style="text-align: center">
  <!--
	<button type="button" style="background:green;" id="green" onclick="color(this)">green</button>
	<button type="button" style="background:blue;" id="blue" onclick="color(this)">blue</button>
	<button type="button" style="background:red;" id="red" onclick="color(this)">red</button>
	<button type="button" style="background:yellow;" id="yellow" onclick="color(this)">yellow</button>
	<button type="button" style="background:orange;" id="orange" onclick="color(this)">orange</button>
	<button type="button" style="background:black;color:white" id="black" onclick="color(this)">black</button>
	<button type="button" style="background:white;" id="white" onclick="color(this)">white</button>
-->
	<!--<button type="button" value="save" id="btn" size="30" onclick="save()">Save</button>-->
	<button type="button" value="clear" id="clr" size="23" onclick="erase()">Clear</button>
	<br />
	<br />
	<div id="loading" style="font-size: x-large;">Loading page ...</div>
	<canvas id="the-canvas" style="border: 1px solid black;padding-bottom: 1px;"></canvas>
	<img id="canvasimg"  style="display:none;">
</div>
<script id="script">
    var pageNum = 1;
    var pdfScale = 1; // make pdfScale a global variable
    var __PDF_DOC; // will hold the PDFDocumentProxy object that is passed into the callback of the getDocumentPromise.
    var url = '' // PDF to load: change this to a file that exists;

    var __CURRENT_PAGE;// will hold the current page number.
    var __TOTAL_PAGES;// will hold the total no of pages in the PDF
    //var __PAGE_RENDERING_IN_PROGRESS = 0;
    var __CANVAS = $('#the-canvas').get(0);// will hold the canvas element 
    var __CANVAS_CTX = __CANVAS.getContext('2d'); // will hold the canvas context 

    //var pdfDoc = '';

    var widthCanvas = 0;
    var heightCanvas = 0;
    var drawCanvas = '';
    var drawContext = '';

		var canvasWidthOringin = 0;
		var canvasHeightOringin = 0;
		var cont = 0;

		var arrayImageData = [];

    var pagesSeen = 0;

    var pageView = [];//get width and height of PDF

    async function showPDF(pdf_url) {
  		document.getElementById("loading").style.visibility = "visible";
      $("#pdf-current-page, #pdf-total-page").css("visibility", "visible").css("display", "");
			$("#page-count-container").css("visibility", "hidden");
			/*pdfDoc = PDFJS.getDocument(pdf_url).then(async function getPdfFile(pdf) {
				//await displayPage(pdf, 1);
				__PDF_DOC = pdf;
			});*/
			PDFJS.getDocument({ url: pdf_url }).then(async function (pdf_doc) {
        __PDF_DOC = pdf_doc;
				__TOTAL_PAGES = __PDF_DOC.numPages;
				// myState.pdf = pdf_doc;
				// Hide the pdf loader and show pdf container in HTML
				$("#pdf-total-pages").text(__TOTAL_PAGES);
				
				for(var x = 1;x <= __TOTAL_PAGES; x++) {
					var data = { numPage: x, dataImage: ''};
					arrayImageData.push(data);
				}
				await loadPage();
				pageNum = 1;
				await displayPage(__PDF_DOC,pageNum);
				document.getElementById("the-canvas").style.visibility = "visible";
  			//document.getElementById("the-canvas").style.display = "inline";
				$("#pdf-current-page").text('1');
  			document.getElementById("loading").style.margin = "0px";
  			document.getElementById("loading").style.visibility = "hidden";
				//await loadPageInit(); no carga bien las primeras páginas
				// Show the first page
				//showPage(1);
			}).catch(function (error) {
				console.log('error: ', error);
				alert('loading error: ', error);
				// If error re-show the upload button
  			document.getElementById("loading").style.visibility = "hidden";
  			//document.getElementById("controlpdf").style.visibility = "hidden";
      	$("#controlpdf,#pdf-current-page, #pdf-total-page").css("visibility", "hidden");
				$("#page-count-container").css("visibility", "hidden");
  			document.getElementById("the-canvas").style.visibility = "hidden";
			});
    }

    async function renderPage(page) {
			var scale = pdfScale; // render with global pdfScale variable
			var viewport = page.getViewport(scale); // width and height are in points no pixels
			var canvas = document.getElementById('the-canvas');
			drawCanvas = canvas;
			var context = canvas.getContext('2d');
			drawContext = context;
			canvas.height = viewport.height;
			heightCanvas = viewport.height; // use in paint of canvas
			widthCanvas = viewport.width; // use in paint of canvas
			canvas.width = viewport.width;
			if ( cont < 1 ) {
				canvasHeightOringin = viewport.height * 0.352778; // point => mm
				canvasWidthOringin = viewport.width * 0.352778;
				cont++;
			}
			var renderContext = {
				canvasContext: context,
				viewport: viewport
			};
			page.render(renderContext);
      $("#controlpdf, #page-count-container").css('visibility', 'visible');
			
			init();
    }

    async function displayPage(pdf, num) {
      console.log('pdf: ', pdf);
      pdf.getPage(num).then( async function getPage(page) { await renderPage(page); });
    }

    var nextbutton = document.getElementById("nextbutton");
    nextbutton.onclick = async function () {
			if (pageNum >= __PDF_DOC.numPages) {
				return;
			}
			arrayImageData[pageNum - 1].dataImage = canvas.toDataURL("image/jpeg", 1.0);
			pageNum++;
			$("#pdf-current-page").text(pageNum);
      pagesSeen = pageNum;
			if (arrayImageData[pageNum - 1].dataImage.length === 0) {
				await displayPage(__PDF_DOC, pageNum);
      } else {
				document.getElementById("the-canvas").src = await loadImage();
			}
    }

		async function loadImage() {
			var imagen = new Image();
			if (arrayImageData[pageNum - 1].dataImage.length > 0) {
        imagen.src = arrayImageData[pageNum - 1].dataImage;
      } else {
        imagen.src = URL.createObjectURL($("#file-to-upload").get(0).files[0]);
      }
			imagen.onload = function () {
				canvas = document.getElementById('the-canvas');
				drawContext = canvas.getContext('2d');
				canvas.width = imagen.width;
				canvas.height = imagen.height;
				drawContext.scale(1, 1);
				drawContext.save();
			  drawContext.drawImage(imagen, 0, 0);
			};
			return imagen.src;
		}

    var prevbutton = document.getElementById("prevbutton");
    prevbutton.onclick = async function () {
			arrayImageData[pageNum - 1].dataImage = canvas.toDataURL("image/jpeg", 1.0);
			if (pageNum <= 1) {
				return;
			}
			pageNum--;
			$("#pdf-current-page").text(pageNum);
			document.getElementById("the-canvas").src = await loadImage();
    }
		/*
    var zoominbutton = document.getElementById("zoominbutton");
    zoominbutton.onclick = async function () {
			pdfScale = pdfScale + 0.25;
			await displayPage(__PDF_DOC, pageNum);
    }

    var zoomoutbutton = document.getElementById("zoomoutbutton");
    zoomoutbutton.onclick = async function () {
			if (pdfScale <= 0.25) {
				return;
			}
			pdfScale = pdfScale - 0.25;
			await displayPage(__PDF_DOC, pageNum);
    }
		*/
    // Upon click this should should trigger click on the #file-to-upload file input element
    // This is better than showing the not-good-looking file input element
    $("#upload-button").on('click', function () {
      $("#file-to-upload").trigger('click');
    });

    // When user chooses a PDF file
    $("#file-to-upload").on('change', async function () {
      // Validate whether PDF
      //erase();
  		document.getElementById("loading").style.visibility = "hidden";
			document.getElementById("the-canvas").style.visibility = "hidden";

      if($("#file-to-upload").get(0).files[0] !== undefined) {
        if (['application/pdf'].indexOf($("#file-to-upload").get(0).files[0].type) == -1) {
          alert('Error : Not a PDF');
          return;
        }
        await loadData();
  			document.getElementById("loading").style.visibility = "visible";

        //$("#upload-button").hide();
        
        $("#controlpdf").css('visibility', 'hidden');
      	$("#the-canvas").css("display", "");
        // Send the object url of the pdf
        showPDF(URL.createObjectURL($("#file-to-upload").get(0).files[0]));
      }
    });

    async function loadData() {
      pdfScale = 1; // make pdfScale a global variable
      __PDF_DOC; // another global we'll use for the buttons
      url = '' // PDF to load: change this to a file that exists;

       __PDF_DOC,
      __CURRENT_PAGE,
      __TOTAL_PAGES,
      //__PAGE_RENDERING_IN_PROGRESS = 0,
      __CANVAS = $('#the-canvas').get(0),
      __CANVAS_CTX = __CANVAS.getContext('2d');

      //pdfDoc = '';
			pageNum = 1;

      widthCanvas = 0;
      heightCanvas = 0;
      drawCanvas = '';
      drawContext = '';

		  canvasWidthOringin = 0;
		  canvasHeightOringin = 0;
		  cont = 0;

		  arrayImageData = [];

      pagesSeen = 0;
    }
		
    /////////////////// save PDF ///////////////////

    $('#cmd').click(async function () {
			$("#buttonTool").children().prop('disabled',true);
			arrayImageData[pageNum - 1].dataImage = canvas.toDataURL("image/jpeg", 1.0);
			console.log('pageNum: ', pageNum);
			console.log(canvasWidthOringin, canvasHeightOringin);
			var orientation = (canvasWidthOringin > canvasHeightOringin) ? 'l': 'p';
			var pdf = new jsPDF(orientation, 'mm', [canvasWidthOringin , canvasHeightOringin]);
			for (let x=0;x < __TOTAL_PAGES;x++){
				const imgData = arrayImageData[x].dataImage;
				pdf.setPage(x+1);//declare that we're working on that page
				pdf.addImage(imgData, 'jpeg', 0, 0, canvasWidthOringin , canvasHeightOringin);
				(__TOTAL_PAGES - 1 !== x ) ? pdf.addPage(): '';
			}
			$("#buttonTool").children().prop('disabled',false);
			await pdf.save("download.pdf"); 
    });

		function timeout(ms) {
			return new Promise(resolve => setTimeout(resolve, ms));
		}

		async function loadPage(){
			await displayPage(__PDF_DOC, pageNum);
			var addArrayImage = false;
			for (let x = pageNum; x <= __TOTAL_PAGES + 1; x++) {
				$("#pdf-current-page").text(pageNum-1);
				pageNum = x;
				//timeout(100);
				PDFJS.getDocument(URL.createObjectURL($("#file-to-upload").get(0).files[0])).then(async function getPdfFile(__PDF_DOC) {
					await displayPage(__PDF_DOC, pageNum);
					if(addArrayImage) {
						if (arrayImageData[x - 2].dataImage.length === 0) {
							arrayImageData[x - 2].dataImage = canvas.toDataURL("image/jpeg", 1.0);
						}
					}
					addArrayImage = true;
				});
			}
			pageNum--;
			$("#pdf-current-page").text(pageNum);
		}

    function erase() {
      var canvasErase = document.getElementById('the-canvas');
			var contextErase = canvasErase.getContext('2d');
			//var m = confirm("Want to clear");
			//if (m) {
				contextErase.clearRect(0, 0, canvasErase.width, canvasErase.height);
        document.getElementById('the-canvas').value = "";
				$('#file-to-upload').val('');
        $("#controlpdf").css('visibility', 'hidden');
			//}
    }
    ///////////////////////////////////
    
    /////////// Draw Canvas ///////////
    var isMouseDown=false;
    var canvas;//document.getElementById("the-canvas");
    var ctx;//canvas.getContext('2d');
    var linesArray = [];
    currentSize = 1;
    var currentColor = "rgb(0,0,0)";
    var currentBg = "white";

    function init() {
      canvas = drawCanvas; //document.getElementById('the-canvas');
      ctx = drawContext; //canvas.getContext("2d");
      w = widthCanvas;
      h = heightCanvas;

      document.getElementById('colorpicker').addEventListener('change', function() {
        currentColor = this.value;
      });
      canvas.addEventListener('mousedown', function() {mousedown(canvas, event);});
      canvas.addEventListener('mousemove',function() {mousemove(canvas, event);});
      canvas.addEventListener('mouseup',mouseup);
    }

    function createCanvas() {
      canvas.id = "canvas";
      canvas.width = "600";//parseInt(document.getElementById("sizeX").value);
      canvas.height = "1200";//parseInt(document.getElementById("sizeY").value);
      canvas.style.zIndex = 8;
      //canvas.style.position = "absolute";
      //canvas.style.marginTop = "75px";
      canvas.style.border = "1px solid";
      ctx.fillStyle = currentBg;
      ctx.fillRect(0, 0, canvas.width, canvas.height);
      //body.appendChild(canvas);
    }

    // GET MOUSE POSITION

  function getMousePos(canvas, evt) {
    var rect = canvas.getBoundingClientRect();
    return {
      x: evt.clientX - rect.left,
      y: evt.clientY - rect.top
    };
  }

  // ON MOUSE DOWN

  function mousedown(canvas, evt) {
    var mousePos = getMousePos(canvas, evt);
    isMouseDown=true
    var currentPosition = getMousePos(canvas, evt);
    ctx.moveTo(currentPosition.x, currentPosition.y)
    ctx.beginPath();
    ctx.lineWidth  = currentSize;
    ctx.lineCap = "round";
    ctx.strokeStyle = currentColor;
  }

  // ON MOUSE MOVE

  function mousemove(canvas, evt) {
    if(isMouseDown){
      var currentPosition = getMousePos(canvas, evt);
      ctx.lineTo(currentPosition.x, currentPosition.y)
      ctx.stroke();
      //store(currentPosition.x, currentPosition.y, currentSize, currentColor);
    }
  }

  function mouseup() {
    isMouseDown=false
    //store()
  }



</script>